.card {
  position: relative;
  background-color: $body-background-color;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($body-background-color, 10%);
  }

  .btn-close {
    position: absolute;
    top: 8px;
    left: 370px;
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  .column {
    height: 100vh;
    overflow-y: auto;
  }
}
